<div class = "video_new">
  <div class ="edit_zenntai">
    <%= form_tag("/users/#{@user.id}/update", {multipart: true}) do %>
    <p>画像</p>
    <input name="image" type="file">
    <input type="submit" value="保存">
      <p>ユーザー名</p>
      <input name="name" value="<%= @user.name %>">
      <p>メールアドレス</p>
      <input name="email" value="<%= @user.email %>">
      <p>職業</p>
      <input name="job" value="<%= @user.job %>">
      <p>資格</p>
      <input name="sikaku" value="<%= @user.sikaku %>">
      <p>その他</p>
      <input name="sonota" value="<%= @user.sonota %>">
      <p>ひとこと</p>
      <input name="hitokoto" value="<%= @user.hitokoto %>">
      <input type="submit" value="保存">
    <% end %>
</div>
</div>
