<div class = "video_new">
  <div class ="edit_zenntai">
    <% if @error_message %>
      <div class="form-error">
        <%= @error_message %>
      </div>
    <% end %>
    <%= form_tag("/login") do %>
      <h4>メールアドレス</h4>
      <input name="email" value="<%= @email %>">
      <h4>パスワード</h4>
      <input type="password" name="password" value="<%= @password %>">
      <input type="submit" value="ログイン">
    <% end %>
</div>

<h3><%= link_to("新規登録", "/signup") %></h3>
