<div class = "video_new">
  <div class ="edit_zenntai">

    <img src="/user_images/<%= "#{@user.id}"%>.jpg">
    <h4>【ユーザー名】<%= @user.name %></h4>
    <h4>【メールアドレス】<%= @user.email %></h4>
    <h4>【職業】<%= @user.job %></h4>
    <h4>【資格等】<%= @user.sikaku %></h4>
    <h4>【その他】<%= @user.sonota %></h4>
    <h4>【ひとこと】<%= @user.hitokoto %></h4>
    <h5><%= link_to("編集", "/users/#{@user.id}/edit") %></h5>
  </div>
</div>
