<div class = "video_new">
  <div class ="edit_zenntai">

  <%= form_tag("/videos/#{@video.id}/update", {multipart: true}) do %>
  <h5>タイトル</h5>
  <textarea name="content"><%= @video.content %></textarea>
  <input type="submit" value="保存">
  <h5>トップ画像</h5>
  <input name="sheet" type="file">
  <input type="submit" value="保存">
  <h5>動画</h5>
  <input name="image" type="file">
  <input type="submit" value="保存">
  <h5>要約文</h5>
  <textarea name="summry"><%= @video.summry %></textarea>
  <input type="submit" value="保存">
  <h5>講師名</h5>
  <textarea name="teacher"><%= @video.teacher %></textarea>
  <input type="submit" value="保存">
  <h5>詳細</h5>
  <textarea name="sentence"><%= @video.sentence %></textarea>
  <input type="submit" value="保存">
  <%end%>
</div>
</div>
