<div class = "video_new">
  <p><%= @video.content %></p>
  <video src="<%= "/video_mp4/#{@video.id}.mp4" %>" controls></video>
</div>
  <h3><%= link_to("編集", "/videos/#{@video.id}/edit") %></h3>
  <h3><%= link_to("削除", "/videos/#{@video.id}/destroy", {method: "video"}) %></h3>
  <div class ="video_new_show">
  <p>【講師】<%= @video.teacher %></p>
  <p>【内容】</p>
  <p><%= @video.sentence %></p>
</div>

</div>
