<div class = "video_new">
  <div class ="edit_zenntai">
    <%= form_tag("/teachers/#{@teacher.id}/update", {multipart: true}) do %>
      <p>ユーザー名</p>
      <input name="name" value="<%= @teacher.name %>">
      <p>画像</p>
      <input name="image" type="file">
      <p>メールアドレス</p>
      <input name="email" value="<%= @teacher.email %>">
      <p>職業</p>
      <input name="job" value="<%= @teacher.job %>">
      <p>資格</p>
      <input name="sikaku" value="<%= @teacher.sikaku %>">
      <p>その他</p>
      <input name="sonota" value="<%= @teacher.sonota %>">
      <p>ひとこと</p>
      <input name="hitokoto" value="<%= @teacher.hitokoto %>">
      <input type="submit" value="保存">
    <% end %>
</div>
</div>
