<!DOCTYPE html>
<html>
  <head>
    <title>Collega</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">
    <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="https://fonts.googleapis.com/earlyaccess/kokoro.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:300" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Great+Vibes" rel="stylesheet">
  </head>

  <body>
    <div class="wrapper">
      <div class = "header">
        <div id="nav-drawer">
          <input id="nav-input" type="checkbox" class="nav-unshown">
          <label id="nav-open" for="nav-input"><span></span></label>
          <label class="nav-unshown" id="nav-close" for="nav-input"></label>
          <div id="nav-content">
            <% current_user = User.find_by(id: session[:user_id]) %>
            <% if current_user %>
            <div class ="intro">
            <h5>
              <%= link_to(current_user.name, "/users/#{current_user.id}") %>さんようこそ！！
              <img src="/user_images/<%= "#{current_user.id}"%>.jpg">
            </h5>
            </div>
            <div class ="menu">

            <h3>Menu</h3>
          </div>
            <li><a href="/">HOME</a></li>
            <li><%= link_to("Teacher's profile", "/teachers/index") %></li>
            <li><%= link_to("Post", "/toukous/new") %></li>
            <li><%= link_to("Paid member", "/menbers/login") %></li>
            <li><%= link_to("Logout", "/logout", {method: :post}) %></li>
             <% else %>
             <div class ="menu">

             <h3>Menu</h3>
           </div>
             <li><a href="/">HOME</a></li>
             <li><%= link_to("Teacher's profile", "/teachers/index") %></li>
             <li><%= link_to("Login", "/login") %></li>
             <li><%= link_to("New Collega", "/signup") %></li>
             <li><%= link_to("Post", "/toukous/new") %></li>
             <li><%= link_to("Paid member", "/menbers/login") %></li>

            <div class ="menu">
            <h3>Teacher's Menu</h3>
          </div>
            <li><%= link_to("VIDEO", "/videos/new") %></li>
            <li><%= link_to("BLOG", "/blogs/new") %></li>
            <li><%= link_to("IVENT", "/ivents/new") %></li>

            <div class ="menu">
            <h3>Manager's Menu</h3>
          </div>
            <li><%= link_to("無料会員一覧", "/users/index") %></li>
            <li><%= link_to("有料会員一覧", "/menbers/index") %></li>

            <li><%= link_to("権限者一覧", "/managers/index") %></li>
            <li><%= link_to("講師一覧（権限者用）", "/teachers/index") %></li>
            <li><%= link_to("有料会員登録", "/menbers/new") %></li>
            <li><%= link_to("講師登録", "/teachers/new") %></li>
            <li><%= link_to("権限者登録", "/managers/new") %></li>

            <% end %>
          </div>
          </div>
          <img src ="/collega.png"></img>


        </div>

    <%= yield %>
    </div>
  </body>
</html>
